<% if (flash && flash.success && flash.success.length) { %>
  <div class="alert alert-success">
    <strong>OK:</strong> <%= flash.success[0] %>
  </div>
<% } %>

<% if (flash && flash.error && flash.error.length) { %>
  <div class="alert alert-error">
    <strong>Atenção:</strong> <%= flash.error[0] %>
  </div>
<% } %>
