<header class="topbar">
  <div class="topbar-left">
    <div class="brand">
      <div class="brand-dot"></div>
      <div>
        <div class="brand-title">Manutenção Campo do Gado</div>
        <div class="brand-subtitle">V2 • Gestão Industrial</div>
      </div>
    </div>
  </div>

  <div class="topbar-right">
    <% if (user) { %>
      <div class="user-pill">
        <span class="user-name"><%= user.name %></span>
        <span class="user-role"><%= user.role %></span>
      </div>
      <a class="btn btn-outline" href="/logout">Sair</a>
    <% } else { %>
      <a class="btn btn-outline" href="/login">Entrar</a>
    <% } %>
  </div>
</header>
