<div class="box">
  <h2>Dashboard</h2>

  <p>Bem-vindo, <strong><%= user.name %></strong></p>
  <p>Perfil: <strong><%= user.role %></strong></p>

  <hr />

  <ul>
    <li><a href="#">Ordens de Serviço</a></li>
    <li><a href="#">Preventivas</a></li>
    <li><a href="#">Planejamento</a></li>
    <li><a href="#">Estoque</a></li>
    <li><a href="#">Compras</a></li>
  </ul>

  <br />

  <a href="/logout">Sair</a>
</div>
