<% layout('layout') %>

<h1>Nova Solicitação de Compra</h1>

<form method="POST" action="/compras">

  <div class="form-group">
    <label>Descrição</label>
    <textarea name="descricao" required></textarea>
  </div>

  <div class="form-group">
    <label>Prioridade</label>
    <select name="prioridade">
      <option value="NORMAL">Normal</option>
      <option value="ALTA">Alta</option>
    </select>
  </div>

  <button class="btn primary" type="submit">
    Salvar
  </button>
</form>
